---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import hero from "../assets/images/hero.png";
import img1 from "../assets/images/img1.png";
import img2 from "../assets/images/img2.png";
import img3 from "../assets/images/img3.png";
import img4 from "../assets/images/img4.png";
import img5 from "../assets/images/img5.png";
import img6 from "../assets/images/img6.png";
import img7 from "../assets/images/img7.png";
---

<MainLayout title="Titel">
  <article>
    <section class="relative -mt-[4rem] w-full h-screen overflow-hidden -z-10">
      <Image src={hero} alt="" class="w-full h-full object-cover" />
    </section>
    <!-- 1 sektion -->

    <section class="bg-cover bg-center mb-52 mt-40 pt-0 px-4 md:px-16 py-12" id="omrosa">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
        <div class="md:max-w-xl mx-auto">
          <h2 class="text-2xl md:text-5xl lg:text-7xl mb-8 text-black">OM ROSA</h2>
          <p class="text-black leading-relaxed">Fonten ROSA er inspireret af den moderne chrome-stilart, som kombinerer elegance og skarphed. Jeg valgte denne stil, fordi den skaber en følelse af ro og tidløshed, samtidig med at den afspejler en aktuel trend. Chrome-stilen kendetegnes ved sit blanke, metalliske udtryk og sine refleksioner, der tilføjer dybde og en nærmest futuristisk kant. Med ROSA ønsker jeg at bringe denne æstetik til typografien, så skriften både er visuelt fængende og giver et elegant, moderne præg.</p>
        </div>

        <div class="md:w-1/3 lg:w-4/5 mx-auto">
          <Image src={img1} alt="" className="object-cover" />
        </div>
      </div>
    </section>

    <!-- 2 sektion -->
    <h2 id="værktøjer" class="text-2xl md:text-5xl lg:text-7xl mb-8 text-black items-center justify-center flex mb-32">VÆRKTØJER</h2>

    <section id="horisontalscrollsection" class="h-[500vw] flex flex-col pb-12">
      <ul id="horisontalliste" class="list-none pl-0 flex items-center sticky top-[30vh]">
        <li class="flex w-[100vw] items-center justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
          <figure class="flex flex-row max-w-[800px]">
            <Image src={img2} class="w-full" alt="foto" /><figcaption class="pl-8 italic w-full text-creme">For at lave min font startede jeg med at lave research. Jeg fandt hurtigt min stil og kunne derfor begynde at udvikle alfabetet. I Illustrator eksperimenterede jeg med forskellige effekter, hvilket hjalp med at skabe fontens unikke udtryk.</figcaption>
          </figure>
        </li>
        <li class="flex w-[100vw] overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[800px]"><Image src={img3} class="w-full" alt="foto" /><figcaption class="pl-8 italic w-full text-creme">Jeg kunne derfor begynde at forme min font ved hjælp af værktøjerne Direct Selection og Pencil, som jeg brugte til at justere og skabe mere runde former. Jeg tilføjede også en 3D-effekt, 'Inflate,' for at give fonten dybde.</figcaption></figure></li>
        <li class="flex w-[100vw] overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[800px]"><Image src={img4} class="w-full" alt="foto" /><figcaption class="pl-8 italic w-full text-creme">Her er 3D-effekten tilføjet, og jeg kunne nu arbejde videre med fonten, finjustere formen og foretage ændringer, hvis der var behov for det.</figcaption></figure></li>
        <li class="flex w-[100vw] overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[800px]"><Image src={img5} class="w-full" alt="foto" /><figcaption class="pl-8 italic w-full text-creme">Da jeg var blevet tilfreds med formen på min font, gik jeg over i Adobe Dimension. Her tilføjede jeg en metal-effekt og en 'sunlight'-effekt. Det var her, fonten virkelig kom til live, og jeg kunne se, hvilken retning jeg ønskede for det endelige design.</figcaption></figure></li>
        <li class="flex w-[100vw] overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[800px]"><Image src={img6} class="w-full" alt="foto" /><figcaption class="pl-8 italic w-full text-creme">Jeg fortsatte mit arbejde i Adobe Photoshop, hvor jeg fjernede baggrunden og tilføjede nogle effekter til fonten, så den fik en mere lilla farvetone. Det gav fonten det udtryk, jeg ønskede, og jeg blev glad og tilfreds med resultatet.</figcaption></figure></li>
      </ul>
    </section>
    <section class="bg-cover bg-center mb-24 mt-40 pt-0 px-4 md:px-16 py-12">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
        <div class="md:max-w-xl mx-auto">
          <h2 class="text-2xl md:text-5xl lg:text-7xl mb-8 text-black">PRODUKT</h2>
          <p class="text-black">ROSA SOAP er sæben, der får din hud til at føles silkeblød og frisk, som var den nyvasket hver dag. Vores unikke formel, renser i dybden og efterlader huden med en naturlig glød. ROSA SOAP’s skinnende emballage reflekterer det luksuriøse indhold og gør dit badeværelse lidt smukkere. Skab din egen daglige spa-oplevelse med ROSA SOAP – renhed og ro i ét.</p>
        </div>

        <div class="md:w-1/3 lg:w-3/5 mx-auto">
          <Image src={img7} alt="" className="object-cover" />
        </div>
      </div>
    </section>
  </article>
</MainLayout>
<script>
  import { animate, stagger, inView, scroll, timeline } from "motion";
  inView(".fotoinview", () => {
    animate(".fotoinview", { x: [-2000, 0] }, { duration: 5 });
  });

  // Photo in view animation
  inView(".fotoinview", () => {
    animate(".fotoinview", { x: [-2000, 0] }, { duration: 3 });
  });

  // ------horisont-----------//
  scroll(
    animate("#horisontalliste", {
      transform: ["none", "translateX(-400vw)"],
    }),
    { target: document.querySelector("#horisontalscrollsection") }
  );

  inView(".inviewreturn", ({ target }) => {
    animate(target, { rotate: [180, 0] }, { delay: 1, duration: 2 });
    return () => {
      animate(target, { rotate: 180 });
    };
  });
</script>
